<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a00227178.myapp" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1da8608735ecf490414c9cde04e74d85ee1886b6" />

        <activity
            android:name=".SquadBuilder"
            android:label="@string/title_activity_squad_builder"
            >
        </activity>
        <activity
            android:name=".MatchDay"
            android:label="@string/title_activity_matchday"
            >
        </activity>
        <activity
            android:name=".SetUpMatch"
            android:label="@string/title_activity_setup_match"
            >
        </activity>
        <activity
            android:name=".SetUpSquad"
            android:label="@string/title_activity_setup_match"
            >
        </activity>
        <activity
            android:name=".CreateSquad"
            android:label="@string/title_activity_createsquad"
            >
        </activity>
        <activity
            android:name=".LoadSquad"
            android:label="@string/title_activity_loadsquad"
            >
        </activity>
    </application>

</manifest>
